<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unsubscribe from FIT Center Follow Up Emails</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/followup.css" type="text/css">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

</head>
<body>