<div class="message" id="not-found" style="display: none">
    <h1>Error - User not found</h1>
    <p>An error has occurred trying to update your subscription preferences</p>
    <p>Please reply to the email your received, or send an email to
        <a href="mailto:fitcenter@mail.sdsu.edu">fitcenter@mail.sdsu.edu</a> and we will update our records.</p>
    <p>We are sorry for the incontinence!</p>
</div>