body {
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: #374355;
}

body div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

body div.container div.card {
    box-shadow: 15px 15px 45px 1px #222222;
    border-radius: .5rem;
}

body div.container div.card div.card-block {
    padding: 2.5rem;
}

body > a,
body > a:active,
body > a:hover,
body > a:visited {
    color: inherit;
    text-decoration: none;
}

/* Welcome Styles */

body div.container div.card.welcome {
    text-align: center;
}

body div.container div.card.welcome h4.card-title {
    font-size: 7rem;
    font-weight: 300;
}

body div.container div.card.welcome h6.card-subtitle {
    font-size: 2rem;
    font-weight: 200;
}

body div.container div.card.welcome img.logo {
    height: 4rem;
    margin: 2rem 0 -.75rem;
}

/* Type Select (Appointment / Walk-in) */

body div.container div.card.type {
    text-align: center;
}

body div.container div.card.type h5.card-title {
    font-size: 2.5rem;
    font-weight: 200;
}

body div.container div.card.type div.row{
    margin-top: 2rem;
}

body div.container div.card.type button {
    width: 100%;
    height: 8rem;

    background-color: #374355;
    border-color: #374355;

    font-size: 3rem;
    font-weight: 200;
}