body {
    font-family: Helvetica, sans-serif;
}

table {
    align-items: center;
    margin: 0 auto;

    font-size: 1em;
}

button {
    align-items: center;

    margin: .75em;
    padding: .25em;

    text-align: center;

    background: lightgray;
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.mainHead {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 4em;
}

.pageHead {
    padding-top: 1em;
    padding-bottom: .5em;
    text-align: center;
    font-size: 3em;
}

.pageSubHead {
    text-align: center;
    font-size: 2em;
    line-height: 1.25em;

    padding-bottom: .5em;
}

.prompt {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    width: 75%;

    padding: 0 1em 1em;
}

.pageInfo {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    width: 75%;

    padding: 3em 1em 1em;
}

.quote {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    line-height: 1.5;
    width: 1px;

    padding: 1em;
}

form {
    text-align: center;
}

.inputBox {
    align-items: center;

    height: 2em;
    width: 15em;

    font-size: 1.5em;
    text-align: center;

    background: lightgray;
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    margin: .25em;
}

.panelButton {
    height: 4em;
    width: 12em;

    font-size: 1.5em;
}

.submitButton {
    height: 2em;
    width: 12em;

    margin-top: 1em;
    padding: .25em;

    font-size: 1.25em;
    font-weight: bold;

    align-items: center;
    text-align: center;
}

#clock {
    height: 2em;
    width: 10em;

    font-size: 6em;
}

#admin {
    height: 1.5em;
    width: 10em;

    font-size: 2.5em;

    padding: 0;
}

#logo {
    margin-top: 5.5em;
    height: 5em;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bolt {
    width: 26em;
}