body {
    font-family: Helvetica, sans-serif;
    padding-bottom: 75px;
}

footer {
    width: 100%;
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
}

#footerWrapper {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.login, .conf {
    padding-top: 5em;
    padding-bottom: 3em;
}

table {
    align-items: center;
    margin: 0 auto;

    font-size: 1em;
    text-align: center;
}

button {
    align-items: center;

    margin: .75em;
    padding: .25em;

    text-align: center;

    background: lightgray;
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

footer button {
    padding: .5em;
    margin-right: 1em;

    font-size: 1.25em;
    color: #333333;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.mainHead {
    padding-bottom: 1em;
    text-align: center;
    font-size: 4em;
}

.pageHead {
    padding-top: 1em;
    padding-bottom: .5em;
    text-align: center;
    font-size: 3em;
}

.pageSubHead {
    text-align: center;
    font-size: 2em;
    line-height: 1.25em;

    padding-bottom: .5em;
}

.prompt {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    width: 75%;

    padding: 0 1em 1em;
}

.pageInfo {
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    width: 75%;

    padding: 3em 1em 1em;
}

.quote {
    text-align: center;
    font-size: 2em;
    font-style: italic;
    line-height: 1.5;
    width: 1px;

    padding: 1em;
}

.inputBox {
    align-items: center;

    height: 2em;
    width: 15em;

    font-size: 1.5em;
    text-align: center;

    background: lightgray;
    border: 1px solid black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    margin: .25em;
}

.panelButton {
    height: 4em;
    width: 12em;

    font-size: 1.5em;
}

.submitButton {
    height: 2em;
    width: 12em;

    margin-top: 1em;
    padding: .25em;

    font-size: 1.25em;
    font-weight: bold;

    align-items: center;
    text-align: center;
}

#clock {
    height: 2.25em;

    padding: auto;
    text-transform: uppercase;
    font-size: 5em;
}

#clock.disabled {
    font-size: 4em;
    color: #666666;
}

#adminButton {
    height: 1.5em;
    width: 10em;

    font-size: 2.5em;

    padding: 0;
}

#logo {
    margin-top: 5.5em;
    height: 5.5em;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

button.full {
    width: 26em;
}

input.date {
    width: 18.5em;
}

.fa-spinner {
    font-size: 5em;
    color: #333333;
}

#events {
    text-align: left;
}

.header {
    font-size: 1em;
    font-weight: bold;
    border-bottom: thin solid black;
}

tr.header > td, th {
    padding: 0 0 .25em;
    line-height: normal;
    font-size: inherit;
    text-align: center;
}